* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px 0;
  background-color: #eee;
  margin-bottom: 10px;
}

.header h1 {
  text-align: center;
}

.app-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.developers-side {
  background-color: #eee;
  height: 85vh;
  margin: 10px;
  padding: 10px;
}

.add-developer-form {
  margin-bottom: 30px;
}

.developer-list {
  height: 88%;
  list-style: none;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.developer-list li {
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.developer-list li:last-child {
  border: none;
}

.search-developer-input {
  width: 100%;
}

.developer-board {
  background-color: #eee;
  height: 85vh;
  margin: 10px;
  padding: 10px;
}

.board {
  padding: 0 20px;
  height: 95%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board h3 {
  text-align: center;
  margin-bottom: 20px;
}

.task-list {
  width: 100%;
  height: 100%;
  border-right: 1px solid #000;
}

.task-list:last-child {
  border: none;
}

.single-task-list {
  height: 89%;
  list-style: none;
  overflow-y: scroll;
}

.task-card {
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
